[submodule "External/JSON"]
	path = External/JSON
	url = git@github.com:adamvduke/json-framework.git
[submodule "External/Seriously"]
	path = External/Seriously
	url = git@github.com:adamvduke/seriously.git
[submodule "External/OAuthConsumer"]
	path = External/OAuthConsumer
	url = git@github.com:adamvduke/OAuthConsumer.git
[submodule "External/SharedMacros"]
	path = External/SharedMacros
	url = git://gist.github.com/910486.git
[submodule "EngineBlockDemo/External/ADOAuthorizeiOS"]
	path = EngineBlockDemo/External/ADOAuthorizeiOS
	url = git@github.com:adamvduke/ADOAuthorizeiOS.git
