[submodule "ADEngineBlock/External/Seriously"]
	path = ADEngineBlock/External/Seriously
	url = git@github.com:adamvduke/seriously.git
[submodule "ADEngineBlock/External/OAuthConsumer"]
	path = ADEngineBlock/External/OAuthConsumer
	url = git@github.com:adamvduke/OAuthConsumer.git
[submodule "ADEngineBlockDemo/External/ADOAuthorizeiOS"]
	path = ADEngineBlockDemo/External/ADOAuthorizeiOS
	url = git@github.com:adamvduke/ADOAuthorizeiOS.git

[submodule "ADEngineBlock/External/ObjCMacros"]
	path = ADEngineBlock/External/ObjCMacros
	url = git@github.com:adamvduke/ObjCMacros.git
[submodule "ADEngineBlockDemo/External/ObjCMacros"]
	path = ADEngineBlockDemo/External/ObjCMacros
	url = git@github.com:adamvduke/ObjCMacros.git
[submodule "ADEngineBlock/External/JSON"]
	path = ADEngineBlock/External/JSON
	url = git@github.com:adamvduke/json-framework.git
[submodule "ADEngineBlock/External/Cedar"]
	path = ADEngineBlock/External/Cedar
	url = git@github.com:adamvduke/cedar.git
